@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body{margin: 0; font-family: 'Roboto', sans-serif; }
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{ font-family: 'Open Sans', sans-serif; font-weight: lighter}
p{ line-height: 24px}
.main-menu, .wraper {
    display:flex;
    flex-flow: row wrap; 
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.main-header{
    --altura-main-header: 50px;
    height: var(--altura-main-header);
    background-color:#444;
}

.main-menu{
    text-align: center;
    padding: 0px;
    overflow: hidden;
}


.main-menu li{
    display: inline-block;
    min-width: 100px;
    height: var(--altura-main-header)
}

.main-menu li a{
    display: block;
    color: #fff;
    text-decoration: none;
    height: 100%;
    text-align: center;
    transition: all 0.2s;
    padding: 20px;
}
.main-menu li a:hover{
    background-color: #ccc;
    color: #000;;
}

#toggle-check[type=checkbox], .menu-toggle-icon{display: none;}
.menu-toggle-icon{
    width: 40px; 
    height: 40px;
    padding: 10px 0 0 10px;
}
.menu-toggle-icon span{
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 0 0  5px ;
    border-radius: 10px;
}
aside.themes{
    width: 20%;border-right: 1px #ccc solid; padding-right: 5px;
}
aside.themes > ul{
    padding: 0px; 
}
aside.themes ul li{
    margin-bottom: 3px; 
}

aside.themes a{color: #009dee;}

main{
    float: left;
    width: 80%;
    padding-left: 15px;
}

aside.themes, main{
    vertical-align: top;
}

.suggested{
    background-color: #e7e7e7;
    padding: 15px 30px;
    border-radius: 0px 0px 5px 5px;
}
.suggested-title{
    color: rgb(28, 112, 190);
    font-weight: bolder;
}
.row .column-25{
    float: left;
    width: 25%;
}
.row::after{
    display: block;
    content: "";
    clear: both;
}
.post .autor, .post .date{
    color: #3a3a3a;
    font-size: 12px;
}
.post .date{
    border-left: #444 1px solid;
    margin-left: 5px;
    padding-left: 5px;
}
.post h1, .post h2, .post h3{
    color: #444;
}
.post h2, .post h3{
    padding: 0em 1em;
}

.code-section pre{
    padding: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    border: rgb(163, 163, 163) 1px solid;
}

.page-footer{
    position: absolute;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 60px;
    margin-top: 20px;
    padding: 5px 20px;
}

.page-footer .contact-info{
    float: right;
}

ul li  a{
    color: #009dee;
    text-decoration: none;
}
ul li  a:hover{
    text-decoration:underline;
}

ul li details:hover{
    cursor: pointer;
}

.posts-list{ list-style: none;}
.posts-list-item{
    border:1px #ccc solid;
    border-radius: 4px;
    transition: background 0.2s;
    padding:20px;
    margin-bottom: 15px;
}
.posts-list-item:hover{
    background-color: #0e7db423;
}
.posts-list-item a{ display: block}



@media only screen and (max-width: 900px) {
    .suggested{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .menu-toggle-icon{display: block}
    .menu-toggle-icon::after{ 
        display: inline-block;
        content: 'Augusto Ruiz';
        width: 100%;
        position: absolute;
        top: 10px;
        text-align: center;
        color: lavender
    }
    .main-header{ height: auto; min-height: 50px}
    .main-menu{ height: 0;}
    #toggle-check:checked  ~.main-menu{height: auto;}
    .page-footer .contact-info{
        float: none;
    }
    .code-section{
        width: 90%;
        overflow: scroll;
    }
    .code-section pre{ overflow: scroll}
    aside.themes{
        display: none;
    }
    .main-menu, .wraper{
        width: 100%;
        flex-direction: column;
    }
    .page-footer .contact-info{
        float: none;
        display: block;
    }
    
}